{% extends 'base.html' %}

{% block content %}
<div class="container text-center">
  <div class="row">
    <div class="bg-dark">
      <br>
      <h1 class="text-light">
      <div class="align-middle">
        <h2>"{{ movie.title }}"</h2>
      </h1>
      <br>
        <img src="{{movie.poster_path}}">
      <h5 class="text-light">
      <br>
        <p>개봉일 "{{ movie.release_date }}"</p>
        <p>인기는 {{ movie.popularity }}</p>
        <p>{{ movie.overview }}</p>
        <br>
        <br>
      </div>
      </h5>
    </div>
  </div>
  <button type='button' class="btn btn-secondary mt-2">
    <a href="{% url 'movies:index' %}" class="text-decoration-none text-light">뒤로 가기가기</a>
  </button>
</div>
{% endblock %}
