{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="m-5"></div>
<div class="row justify-content-center">
  <div class="col-6">
    <form action="" method="POST">
      {% csrf_token %}
      {% bootstrap_form form %}
      <!-- {{ form.as_p }} -->
      <button type="submit" class="btn btn-primary mr-2">작성 완료</button>
      <button type='button' class="btn btn-secondary"><a href="{% url 'community:index' %}" class="text-decoration-none text-light">뒤로 가기</a></button>
    </form>
  </div>
</div>
{% endblock %}
